<a href="https://colab.research.google.com/github/brendenwest/csc110/blob/master/csc110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Programming

**Python Print command**

**Reading**

*   Think Python, Chapter 1 - http://greenteapress.com/thinkpython2/html/thinkpython2002.html
*   Think Python, Chapter 2 - http://greenteapress.com/thinkpython2/html/thinkpython2003.html
*https://www.tutorialspoint.com/python/python_basic_syntax.htm 

<br/>

**Practice**

Try working through some of the sample exercises here:

*   https://repl.it/community/classrooms/17929 (sections 1 & 2)
*   [Number story problems](https://canvas.seattlecentral.edu/courses/1804519/files/119358633/download?wrap=1)

<br/>

**Summary**


*   Class overview
*   What is computer science?
*Computer programming overview
*Programming languages overview
*Running Python

<br/>

**What is computer science?**

*   Design, Analysis, Experimentation

**Design** is the process of creating an algorithm - a step-by-step process for solving a problem with computation

**Analysis** is the process of examining algorithms & problems mathematically

**Experimentation** is the process of testing a system for possible solutions or verifying that a solution works

<br/>

**What are programs?**
* Programs (software) are step-by-step instructions telling a computer what to do
* Programs are ‘executed’ by the computer
* Programming is the art of writing programs, and a fundamental part of computer science
* Also a form of expression. Programming can be fun.
 
<br/>

**Computer hardware**
* CPU - central processing unit carries out all basic data operations
* GPU - graphics processing unit. Similar to CPU, but optimized for operations typical for graphics
* Memory - stores programs and data
 - Main memory (RAM) is fast, but volatile
 - Secondary memory - persistent but slower than RAM
* Input - How information is passed to the computer. E.g. keyboard, mouse, etc
* Output - How information is presented to the user - e.g. monitor, printer
 
<br/>

**Programming languages**
* Unambiguous way of providing instructions to a computer
* High level -v- low level
 - High-level languages are designed to be understood by humans. E.g. Python, Java, C++
 - Low-level languages optimized for machines - Machine code, Assembly
* Compilers convert code from a high-level language to machine code (binary). Compiled languages include Java, C++, C#
* Interpreters allow a computer to execute high-level code without advance compilation. Interpret languages include Python, JavaScript
* Compiled programs generally runs faster than interpreted code
* Interpreted code can be developed and run interactively

<br/>

**Why Python**
* readable,
* easy to set up and run interactively,
* class-based & object oriented
* Open-source w/ large ecosystem of specialized libraries
 
<br/>

**Running Python**
* local -v- cloud : Python can be installed and run on a local PC, or via a cloud-hosted service such as Cloud9 or PythonAnywhere
* Idle - integrated command-line and file-editing interface installed with Python
* Python shell - allows running Python commands one line at a time. For example:

In [0]:
# print can take a single parameter
print("single item")

# or multiple parameter separated by commas
print("multiple","items")

# parameters can be any data type - int, float, string, boolean
print("James", 42, True)

# print command will interpret variables and expressions
name = "James"
age = 32
print(name, age + 2)

single item
multiple items
James 42 True
James 34

# Numbers

Python supports integer and float values:

In [0]:
age = 32
pi = 3.14

# you can inspect a variable's type

print(type(age))
print(type(pi))

<class 'int'>
<class 'float'>

Python supports common mathematical operators for addition, subtraction, multiplcation & division:

In [0]:
print(8 + 4)
print(8 - 4)
print(8 * 4)
print(8 / 4) # note: result is a float

12
4
32
2.0

Python has a special operator for **integer division**

In [0]:
# result is always a whole number
10 // 3

3

Python has a special **modulus** operator to get the **remainder** from a division operation

```
10 % 2 = 0
10 % 3 = 1
```

In [0]:
10 % 3

1

# Conditional Logic

*Conditional statements allow a program to execute different instructions for different conditions. Conditions use *boolean* expressions that evaluate to either True or False.

```
1 < 3 # evaluates to True
1 > 3 # evaluates to False
'Dave' == 'dave' # False
```
Boolean expressions can use these comparison operators:

*   < , <= , == , >= , >, !=
*   remember to use '==' for comparison
*   the ! operator negates the expression. For example:


```
'Dave' != 'dave' # evaluates to True
```

**Compound expressions** can be formed with **and**, **or**, **not**.

```
age < 18 and gender == 'female' # True if both expressions are true

age < 18 or gender == 'female' # True if either expression is true 
```
**not** - returns the opposite of a subsequent boolean expression:

```
not 1 == 1 # returns False 
not 1 == 2 # returns True 

```

Conditional statements have this basic form:

```
if <CONDITION>:
    <BODY>
```


1.   no need for parentheses
2.   the condiftional statement ends with a colon:
3.   CONDITION must be a boolean expression
4.   BODY can be any number of statements. Each statement must be indendented
*

In [0]:
age = 21
if age < 21:
  print("Sorry, you're too young to buy alcohol.")

Conditional statements can have multiple, exclusive conditions:

In [0]:
age = 21
if age < 21:
  print("Sorry, you're too young to buy alcohol.")
else:  # no boolean expression needed here
  print("Will that be cash or credit?")

Will that be cash or credit?

In [0]:
age = 17
if age < 18:
  print("You can vote, but not drink or smoke.")
elif age < 21:
  print("Sorry, you're still too young to buy alcohol.")
else:  # no boolean expression needed here
  print("Will that be cash or credit?")

You can vote, but not drink or smoke.

Conditions can be nested:

In [0]:
age = 17
if age < 21:
  if age < 18:
    print("You can vote, but not drink or smoke.")
  elif age < 21:
    print("Sorry, you're still too young to buy alcohol.")
else:  # no boolean expression needed here
  print("Will that be cash or credit?")

You can vote, but not drink or smoke.

# Functions

Python functions have this basic form:

```
def <name>(<PARAMETERS>): 
  <BODY>
  return <value>
 ```
  
- Parameters and return statement are optional
- Parameters can be any valid Python data type and are treated as local variables within the function
- Functions are ‘called’ or ‘invoked’;

In [0]:
def printWelcome(name):
   # function doesn't return a value
   print("Welcome",name)
  
printWelcome("James")
printWelcome("Mike")

Welcome James
Welcome Mike

Functions can ‘return’ values:

In [0]:
def multiply(x,y):
  # returns a value
  return x * y

result1 = multiply(3,4) # return value is assigned to a variable
print(result1)

12

Variables defined 'locally' inside a function are not available outside it

In [0]:
def fullName(first,last):
  combined_names = first + ' ' + last
  return combined_names # returns the value of fullName

print(combined_names) # fails because combined_names is not defined

NameError: ignored

**By-value**

Parameters that are simple data types  (int, string, float, bool) are passed to a function as values. The original variables outside the function are unchanged by any code within the function

In [0]:
def capitalizeName(name):
   name = name.capitalize() # local variable is modified
   return name

name = "william"
print(capitalizeName(name))
print(name) # original value not modified

**By-reference**

Function parameters that are objects (e.g. dictionaries or lists) are passed by 'reference'. So changes made to them inside the function  may be visible outside the function.

In [0]:
def capitalizeNames(names):
  # capitalize each name in list
  for i in range(len(names)):
    names[i] = names[i].capitalize()
    
names = ["jim","sarah"]
capitalizeNames(names)
print(names) # prints ["Jim","Sarah"]

# Lists

Python lists are sequences of values, similar to arrays in other programming languages.

*   List items are delimited with brackets
*   List items can be any valid data type

In [0]:
nums = [7,2,5,4]
names = ['jim', 'dave', 'sue']
myPet = ['dog', 2, True]

List items can be accessed by **index**. Indices start at **zero**

In [0]:
names = ['jim', 'dave', 'sue']
print(names)
print(names[2])

names[1] = 'zack' # set a new value
print(names)

List items can be accessed by **slicing** a subset of values with this syntax:


```
<listname>[<start>:<end>:<step>]
```

* result will include values up to, but NOT including **end**
* If 'start' is omitted, start value is 0
* If 'end' is omitted, slice goes to end of the list
* if 'step' is omitted, slice will increment by 1,

In [0]:
mishmash = ['a','x','zebra','n','banana','hij','python','six','qwerty','R']
print(mishmash[:2])
print(mishmash[1:])
print(mishmash[::3])

Slice can use a 'negative' value to access values starting from the end of the list

In [0]:
mishmash[::-1]

**Deletion** - List items can be removed with the built-in Python **del** method

In [0]:
numbers = [45,7,26,3,95,1,33,9,10,5]
del numbers[1]
numbers

**Concatenation** - Lists can be combined

In [0]:
list1 = ['a','b','c']
list2 = ['x','y','z']
list1 + list2

**Length** - lists have length

In [0]:
len(numbers)

**Membership** - programs can check if a list contains a particular value

In [0]:
names = ['jim', 'dave', 'sue']
'dave' in names # returns True
#'Dave' in names # returns False

**Iteration** - programs can operate on each item in a list, one at a time

In [0]:
names = ['jim', 'dave', 'sue']
for item in names:
  print(item)


print('--')

for i, item in enumerate(names):
  print(i, item)

Other global methods relevant to lists
* `max(<list>)`
* `min(<list>)`
* `tuple(<list>)` - converts a tuple to a list

In [0]:
numbers= [0,1,2,3,4,5,6,7,8,9]
max(numbers)
#min(numbers)
#tuple(numbers)

**List Methods**

Python has a number of methods specific to lists: 

* `<list>.append()` - add element to END of list
* `<list>.sort(<function>)` - sort the list. 
* `<list>.reverse()` - reverse the list
* `<list>.index(x)` - return the index of the first occurrence of x
* `<list>.insert(i, x)` - insert element x into the list at index i
* `<list.count(x)` - returns the number of occurrences of x in the list
* `<list>.remove(x)` - delete the first occurrence of x in the list
* `<list>.pop(i)` - deletes the ith element from the list and returns its value

In [0]:
mylist = ['a', 'B', 'b', 'c']
print(mylist.index('b'))
print(mylist.count('b'))

**Sorting**
- List sorting uses ASCII values by default.

In [0]:
mylist = ['a', 'B', 'b', 'c']
mylist.sort()
mylist

You can provide a custom sort function:
<list\>.sort(key=<function\>,reverse=True)

In [0]:
def byAlpha(ch):
  return ch.lower()

mylist.sort(key=byAlpha)
print(mylist)

**Tuples**
* Read-only sequences. Items can't be modified
* Defined with parentheses instead of brackets
* Similar behavior as lists

In [0]:
mytuple = ('a', 'b', 'c')
len(mytuple)

In [0]:
mytuple[1] = 'x'

**Ranges**
- Python lets you define a sequence of numbers logically with this syntax:



> `range(<start>, <end>, <step>)`

In [0]:
nums = range(0,6) # 0 = start number, 6 = end number
nums = range(6)

- End value is NOT included in the sequence
- Start value can be omitted if starting from zero
- Step value defaults to 1 if omitted. Can be any integer value

Ranges can be used like lists:

In [0]:
for num in range(2,11,2):
   print(num)

A range can be converted to a list:

In [0]:
descending = list(range(6,1,-1))
print(descending)

**Exercises**
1. Write a program that reverses a list without using Python's built-in 'reverse' method
2. Write a function that returns the mean (average) of a list of numbers
3. Write a function that returns the min & max values in a list of numbers, without using a loop,
4. Write a program that censors a list by replacing all four-letter words with "****"
5. Write a program that returns a list of all prime numbers < 100
6. Write a program that presents the user with a random playing-card (2-10, Jack, Queen, King, or Ace). You can use this syntax to get a random number between 0 & 12:

In [0]:
import random
num = random.randrange(13)

# Loops
**Basic Loop**

Loops allow execution of the same code once for each item in a list or sequence:

```
for <var> in <sequence>:
  <body>
```

* Statements in body are executed once for each item in <sequence\>
* <sequence\> can be any valid Python sequence (range, list, string, etc.)
* With each loop iteration, <var\> is assigned the value of the next item in the sequence
* Can use an ‘accumulator’ variable initialized outside the loop

In [0]:
fruits = ['apple','lemon','berry']
for fruit in fruits:
  print(fruit)

for num in range(5):
  print(num)

**Indefinite (while) Loop**

Loops as long as a specified condition is true.

```
while <condition>:
  <body>
```

In [0]:
count = 0
while count < 5:
  print(count)
  count += 1 # MAKE SURE the loop will eventually end
  
print('done')

* <body\> statements executed as long as <condition\> is True
* <condition\> can be one or more logical expressions
* No guarantee how many times loop will execute
* Can result in infinite loop if condition is never met

</br>

**Sentinel Loop**

Loop continues until reaching a special value (sentinel). **break** terminates loop and transfers to command after the loop

In [0]:
stop = 5
for i in range(10):
  print(i)
  if i == stop:
    break # forces exit from the loop

**Nested Loops**

Loops can be nested. Total number times the inner loop is executed is:

```
number of outer items x number of inner items
```

In [0]:
count=1
for num_1 in range(4):   # outer loop
  for num_2 in range(4): # inner loop
    print(count,num_1,num_2)
    count +=1
  print()

**Enumerated looops**

Basic loops provide list values to the 'body' code. But sometimes a program needs the item's index position as well. In that case you can use this syntax:

In [0]:
fruits = ['apple','lemon','berry']
for i, fruit in enumerate(fruits):
  print(i, fruit)

#Strings & Files

**String variables**
- text is represented by the **String** data type
- strings are delimited by quotes or apostrophes - e.g. ‘This is text’
- delimiter that should appear in the string are **escaped** with \ - e.g. ‘We\\'re excited’
- strings are case sensitive

**Strings are sequences of characters**

- strings support many of the same methods as Lists
- characters can be accessed by index position
- substrings can be accessed with 'slicing'

In [0]:
name = 'james'
print(name[0])
print(name[2:])

j
mes

**Concatenation** 
Strings can be combined with a + sign

In [0]:
'spam' + 'eggs'

**Membership**
Check if a string contains another string

In [0]:
name = 'james'
'Z' in name

**Iteration** - Because strings are sequences of characters, you can iterate on them with a loop:

In [0]:
for letter in 'james':
    print(letter, end=' - ') # prints each character followed by a hyphen

j - a - m - e - s -

**String methods** - Python provides many string-specific methods:

In [0]:
name = 'Bart Simpson Esq.'
name.lower()
name.lower()

'bart simpson esq.'

count occurrences of a substring

In [0]:
name.count('s')

1

return the first position of a substring

In [0]:
#name.find('s')
name.find('x') # returns -1 if substring not found

-1

replace one string with another

In [0]:
name.replace('a','o')

'Bort Simpson Esq.'

split the string into a list of substrings based on some string

In [0]:

name.split(' ') # returns a list with space removed

['Bart', 'Simpson', 'Esq.']

[Full reference](https://docs.python.org/3/library/stdtypes.html#string-methods) of Python string methods

**Character encoding**
- ASCII - most common latin characters & symbols
- UTF-8 - support for nearly all characters in all languages
- Control characters - special characters that control computer behavior (e.g. tabs, spaces, carriage returns, etc.)

In [0]:
words = "sksebsbbsdcsdcb"
print(words,"more words")

sksebsbbsdcsdcb more words

In [0]:
chr(65)  # returns character associated with a number
ord('A') # returns number associated with a character

65

**String formatting**
Strings can be formatted with a ‘template’ string that has placeholders into which values are inserted:

`<template-string>.format(<values>)`

In [0]:
name = 'Dave'
hobby = 'baseball'

'Hi. My name is {0} ({0}) and I like {1}'.format(name, hobby)

#print('Hi my name is',name,'I like',hobby)

'Hi. My name is Dave (Dave) and I like baseball'

The template string has a placeholder for each value.
- placeholders have an index number that tells which value to insert,
- placeholders can include a format specifier for how the value should be displayed.
- format specifier has the form:

`<width>.<precision><type>`

- width sets how may spaces to occupy and precision indicates # of decimal places. 

For example, the below example formats ‘total’ value to 2 decimal places:

In [0]:
'Total price is ${0:10.2f} plus tax'.format(123)

'Total price is $    123.00 plus tax'

[Full reference](https://docs.python.org/3/library/string.html#format-string-syntax) for Python string formatting

**File processing**
- Files are large strings
- Lines in files are separated by newline ( \n ) characters
- After completing read/write operations, the file must be closed
- Files must be opened before programs can read from or write to them, like so:

```
myFile = open('myfile.txt', 'r') 
```

- file name must include it's location relative to the current python program, or an absolute file path. The above example assumes both program and text file are in the same directory.


**Writing**

Opening a file for writing prepares it to receive data. It creates a file if one doesn’t exist, and overwrites any existing file contents:

In [0]:
outFile = open('myfile.txt', 'w') 
print('line 1 writing to file', file=outFile)
print('line 2 writing to file', file=outFile)



**Reading** - after opening a file, you can read file contents with several different commands:
- \<file>.read() - reads entire file into a string
- \<file>.readlines() - returns a list of lines from the file
- \<file>.readline() - returns the next line as a string. Moves ‘pointer’ so subsequent commands operate only on remaining lines.
Programs can iterate through all lines in a file:

In [0]:
fulltext = open('myfile.txt', 'r').read()
print(fulltext)

lines = open('myfile.txt', 'r').readlines()
print(lines)
for line in lines:
  print(line)

line 1 writing to file
line 2 writing to file

['line 1 writing to file\n', 'line 2 writing to file\n']
line 1 writing to file

line 2 writing to file